<form [formGroup]="myForm">
  <label for="title">Title:</label>
  <input id="title" type="text" formControlName="title" />

  <br />

  <label for="description">Description:</label>
  <input id="description" type="text" formControlName="description" />

  <br />
  <label for="brand">Brand:</label>
  <select id="brand" formControlName="brand">
    <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
  </select>

  <br />

  <label for="isNegotiable">Negotiable:</label>
  <input id="isNegotiable" type="checkbox" formControlName="isNegotiable" />

  <br />
  <br />
</form>

<button (click)="onSave()" [disabled]="myForm.invalid">Save</button>

<button (click)="onPatch()">Patch some values</button>

<button routerLink="/list">See added phones</button>
